@{
    ViewBag.Title = "О компании";
}

<div class="container custom text-custom" style="margin-top: 10%">
    <form>
        <div class="form-group text-center" style="margin-bottom: 25px">
            <h2>@ViewBag.Title</h2>
        </div>
    </form>
</div>